public class Test {
    public static void main(String[] args) {
        var surprise = new Test().surprise();
        System.out.println("Hello, World!", surprise);
    }

    public String surprise() {
        {{surprise_code}}
    }
}